# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
html
*.local

# Generated data files (created by Python script at CI time)
public/coupon_details.json
public/simple_coupon_details.json
public/run_time.txt
public/CNAME

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
